body {
  text-align: center;
  background-color: #cceeff; /* Light blue */
  font-family: sans-serif;
}

canvas {
  border: 2px solid #000;
  background-color: #fff;
}

#home-screen, #game-over-screen {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
